<div style="padding: 20px;">
    <div class="row">
        <div class="col-md-3" style="background-color: white;margin-right: 30px;">
            <div class="row" style="padding:40px;">
                <div class="col-md-3" style="margin-bottom: 10px;">
                    <div style="text-align: center;"><img style="border-radius: 100%; height: 75px; width: 75px;"
                            src="../../assets/MicrosoftTeams-image.png"></div>
                </div>
                <div class="col-md-9">
                    <div>
                        Megha Bisht
                    </div>
                    <div>
                        UI-UX Developer
                    </div>
                </div>
                <div class="col-md-3" style="display: flex;">
                    <div class="dot" style="margin: auto; align-items: center;"></div>
                </div>
                <div class="col-md-6 mb-2">
                    <div class="">Shashwat Gupta</div>
                    <div class="truncate-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim, velit.
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="">14 may</div>
                </div>
                <div class="col-md-3" style="display: flex;">
                    <div class="dot" style="margin: auto; align-items: center;"></div>
                </div>
                <div class="col-md-6 mb-2">
                    <div class="">Shashwat Gupta</div>
                    <div class="truncate-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim, velit.
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="">14 may</div>
                </div>
                <div class="col-md-3" style="display: flex;">
                    <div class="dot" style="margin: auto; align-items: center;"></div>
                </div>
                <div class="col-md-6 mb-2">
                    <div class="">Shashwat Gupta</div>
                    <div class="truncate-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim, velit.
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="">14 may</div>
                </div>
            </div>
        </div>
        <div class="col-md-3" style="background-color: white;margin-right: 30px;">
            <div class="row" style="padding:40px;">
                <div class="col-md-3" style="margin-bottom: 10px;">
                    <div style="text-align: center;"><img style="border-radius: 100%; height: 75px; width: 75px;"
                            src="../../assets/MicrosoftTeams-image.png"></div>
                </div>
                <div class="col-md-9">
                    <div>
                        Megha Bisht
                    </div>
                    <div>
                        UI-UX Developer
                    </div>
                </div>
                <div class="col-md-3" style="display: flex;">
                    <div class="dot" style="margin: auto; align-items: center;"></div>
                </div>
                <div class="col-md-6 mb-2">
                    <div class="">Shashwat Gupta</div>
                    <div class="truncate-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim, velit.
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="">14 may</div>
                </div>
                <div class="col-md-3" style="display: flex;">
                    <div class="dot" style="margin: auto; align-items: center;"></div>
                </div>
                <div class="col-md-6 mb-2">
                    <div class="">Shashwat Gupta</div>
                    <div class="truncate-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim, velit.
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="">14 may</div>
                </div>
                <div class="col-md-3" style="display: flex;">
                    <div class="dot" style="margin: auto; align-items: center;"></div>
                </div>
                <div class="col-md-6 mb-2">
                    <div class="">Shashwat Gupta</div>
                    <div class="truncate-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim, velit.
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="">14 may</div>
                </div>
            </div>
        </div>
        <div class="col-md-3" style="background-color: white;margin-right: 30px;">
            <div class="row" style="padding:40px;">
                <div class="col-md-3" style="margin-bottom: 10px;">
                    <div style="text-align: center;"><img style="border-radius: 100%; height: 75px; width: 75px;"
                            src="../../assets/MicrosoftTeams-image.png"></div>
                </div>
                <div class="col-md-9">
                    <div>
                        Megha Bisht
                    </div>
                    <div>
                        UI-UX Developer
                    </div>
                </div>
                <div class="col-md-3" style="display: flex;">
                    <div class="dot" style="margin: auto; align-items: center;"></div>
                </div>
                <div class="col-md-6 mb-2">
                    <div class="">Shashwat Gupta</div>
                    <div class="truncate-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim, velit.
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="">14 may</div>
                </div>
                <div class="col-md-3" style="display: flex;">
                    <div class="dot" style="margin: auto; align-items: center;"></div>
                </div>
                <div class="col-md-6 mb-2">
                    <div class="">Shashwat Gupta</div>
                    <div class="truncate-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim, velit.
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="">14 may</div>
                </div>
                <div class="col-md-3" style="display: flex;">
                    <div class="dot" style="margin: auto; align-items: center;"></div>
                </div>
                <div class="col-md-6 mb-2">
                    <div class="">Shashwat Gupta</div>
                    <div class="truncate-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim, velit.
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="">14 may</div>
                </div>
            </div>
        </div>
    </div>
</div>


<div style="padding: 20px;">
    <div class="row">
        <div class="col-md-2  mx-2" style="background-color: white; padding: 20px;">
            <div class="row" style="align-items: center;">
                <div class="col-md-8">
                    <div class="mb-2"><strong>3210</strong></div>
                    <div>Happy Customer</div>
                </div>
                <div class="col-md-4">
                    <div style="background-color: blue; border-radius: 20%; padding: 14px; text-align: center;">
                        <img style="padding: 16px;" src="../../assets/8547071_stripe_s_icon.svg">
                    </div>
                </div>

            </div>
        </div>
        <div class="col-md-2  mx-2" style="background-color: white; padding: 20px;">
            <div class="row" style="align-items: center;">
                <div class="col-md-8">
                    <div class="mb-2"><strong>3210</strong></div>
                    <div>Happy Customer</div>

                </div>
                <div class="col-md-4">
                    <div style="background-color: blue; border-radius: 20%; padding: 14px; text-align: center;">
                        <img style="padding: 16px;" src="../../assets/8547071_stripe_s_icon.svg">
                    </div>
                </div>

            </div>
        </div>
        <div class="col-md-2  mx-2" style="background-color: white; padding: 20px;">
            <div class="row" style="align-items: center;">
                <div class="col-md-8">
                    <div class="mb-2"><strong>3210</strong></div>
                    <div>Happy Customer</div>

                </div>
                <div class="col-md-4">
                    <div style="background-color: blue; border-radius: 20%; padding: 14px; text-align: center;">
                        <img style="padding: 16px;" src="../../assets/8547071_stripe_s_icon.svg">
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


<div style="padding: 40px; ">
    <div class="row">
        <div class="col-md-12">
            <div style="padding: 20px; font-size: 20px;"><strong>Recent Users</strong></div>
        </div>
    </div>
    <hr>
    <div class="marginb-4">
        <div class="row">
            <div class="col-md-2 d-flex" style="justify-content: center; align-items: center;">
                <img style="border-radius: 100%; height: 75px; width: 75px; "
                    src="../../assets/MicrosoftTeams-image.png">
            </div>
            <div class="col-md-4 ">
                <div class="mb-2"><strong>Christenin sharma</strong></div>
                <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, illum!</div>
            </div>
            <div class="col-md-3 d-flex" style="align-items: center;">
                <div class="dot" style="margin-right: 25px;"></div>
                <div>11 May 2023 10:35</div>
            </div>
            <div class="col-md-3 d-flex" style="justify-content: center; align-items: center;">
                <button type="button" class="btn btn-danger mx-2">Reject</button>
                <button type="button" class="btn btn-primary">Approve</button>
            </div>
        </div>
    </div>

</div>

<div style="padding: 40px;background-color: white; width: 80%; margin: auto;">
    <div class="row">
        <div class="col-md-12">
            <div style="padding: 20px; font-size: 20px;"><strong>Recent Users</strong></div>
        </div>
    </div>
    <hr>
    <div class="table-responsive">
        <table style="background-color: white;" class="table table-bordered table-striped">
            <tbody>
                <tr class="my-2">
                    <td class="d-flex" style="justify-content: center;"> <img
                            style="border-radius: 100%; height: 75px; width: 75px; "
                            src="../../assets/MicrosoftTeams-image.png"></td>
                    <td class="wide" style="vertical-align: middle; text-align: center;">
                        <div>
                            shashwat
                        </div>
                        <div>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat, inventore.
                        </div>
                    </td>
                    <td class="wide" style="vertical-align: middle;">
                        <div class="d-flex" style="gap:30px; justify-content: center;">
                            <div class="dot">
                            </div>
                            <div>
                                11 may 12:56
                            </div>
                        </div>

                    </td>
                    <td class="wide" style="vertical-align: middle; text-align: center;">
                        <div>
                            <button type="button" class="btn btn-danger mx-2">Reject</button>
                            <button type="button" class="btn btn-primary">Approve</button>
                        </div>
                    </td>
                </tr>
                <tr class="my-2">
                    <td class="d-flex" style="justify-content: center;"> <img
                            style="border-radius: 100%; height: 75px; width: 75px; "
                            src="../../assets/MicrosoftTeams-image.png"></td>
                    <td class="wide" style="vertical-align: middle; text-align: center;">
                        <div>
                            shashwat
                        </div>
                        <div>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat, inventore.
                        </div>
                    </td>
                    <td class="wide" style="vertical-align: middle;">
                        <div class="d-flex" style="gap:30px; justify-content: center;">
                            <div class="dot">
                            </div>
                            <div>
                                11 may 12:56
                            </div>
                        </div>

                    </td>
                    <td class="wide" style="vertical-align: middle; text-align: center;">
                        <div>
                            <button type="button" class="btn btn-danger mx-2">Reject</button>
                            <button type="button" class="btn btn-primary">Approve</button>
                        </div>
                    </td>
                </tr>
                <tr class="my-2">
                    <td class="d-flex" style="justify-content: center;"> <img
                            style="border-radius: 100%; height: 75px; width: 75px; "
                            src="../../assets/MicrosoftTeams-image.png"></td>
                    <td class="wide" style="vertical-align: middle; text-align: center;">
                        <div>
                            shashwat
                        </div>
                        <div>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat, inventore.
                        </div>
                    </td>
                    <td class="wide" style="vertical-align: middle;">
                        <div class="d-flex" style="gap:30px; justify-content: center;">
                            <div class="dot">
                            </div>
                            <div>
                                11 may 12:56
                            </div>
                        </div>

                    </td>
                    <td class="wide" style="vertical-align: middle; text-align: center;">
                        <div>
                            <button type="button" class="btn btn-danger mx-2">Reject</button>
                            <button type="button" class="btn btn-primary">Approve</button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<hr>

<div style="background-color: white; margin: auto;width: 80%;padding: 20px;">
    <div class="row">
        <div class="col-md-12">
            <div style="padding: 20px; font-size: 20px;"><strong>Tooltip</strong></div>
        </div>
    </div>
    <hr style="margin-bottom: 20px;">
    <div class="row my-2">
        <div class="col-md-4">
            <label class="my-2"><strong>First Name</strong></label>
            <input class="w-100 form-control" style="padding: 15px;font-weight: 700;" type="text">
        </div>
        <div class="col-md-4">
            <label class="my-2"><strong>Last Name</strong></label>
            <input class="w-100 form-control" style="padding: 15px;font-weight: 700;" type="text">
        </div>
        <div class="col-md-4">
            <label class="my-2"><strong>Username</strong></label>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">$#64</span>
                <input type="text" class="form-control" aria-describedby="basic-addon1"
                    style="padding: 15px;font-weight: 700;">
            </div>
        </div>
    </div>
    <div class="row" style="margin-bottom: 20px;">
        <div class="col-md-6">
            <label class="my-2"><strong>City</strong></label>
            <input class="w-100 form-control" style="padding: 15px;font-weight: 700;" type="text">
        </div>
        <div class="col-md-3">
            <label class="my-2"><strong>State</strong></label>
            <select class="w-100 form-control" style="padding: 15px;font-weight: 700;"></select>
        </div>
        <div class="col-md-3">
            <label class="my-2"><strong>Zip</strong></label>
            <input class="w-100 form-control" style="padding: 15px;font-weight: 700;" type="text">
        </div>
    </div>
    <button type="button" class="btn btn-outline-primary">Primary</button>
</div>

<hr style="margin-bottom: 40px;">




<div class="center">
    <div class="row" style="font-size: 20px;margin-bottom: 40px;"><strong>Roles And Permissions</strong></div>
    <div>

        <div class="row" style="margin-bottom: 20px;">
            <div class="col-md-6" style="margin-bottom: 20px;">
                <div style="padding: 20px; background-color: white;">
                    <h3 style="margin-bottom: 25px;color: red;">Admin</h3>
                    <div class="row" style="margin-bottom: 20px;">
                        <div class="col-md-3">
                            <div class="d-flex" style="gap: 20px;align-items: center;">
                                <div><label class="custom-checkbox">
                                        <input type="checkbox">
                                        <span class="checkmark"></span>
                                    </label></div>
                                <div><span><strong>Clip</strong></span></div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="d-flex" style="gap: 20px;align-items: center;">
                                <div><label class="custom-checkbox">
                                        <input type="checkbox">
                                        <span class="checkmark"></span>
                                    </label></div>
                                <div><span><strong>Exact</strong></span></div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="d-flex" style="gap: 20px;align-items: center;">
                                <div><label class="custom-checkbox">
                                        <input type="checkbox">
                                        <span class="checkmark"></span>
                                    </label></div>
                                <div><span><strong>Form Exact</strong></span></div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="d-flex" style="gap: 20px;align-items: center;">
                                <div><label class="custom-checkbox">
                                        <input type="checkbox">
                                        <span class="checkmark"></span>
                                    </label></div>
                                <div><span><strong>Summarise</strong></span></div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-bottom: 20px;">
                        <div class="col-md-3">
                            <div class="d-flex" style="gap: 20px;align-items: center;">
                                <div><label class="custom-checkbox">
                                        <input type="checkbox">
                                        <span class="checkmark"></span>
                                    </label></div>
                                <div><span><strong>Clip</strong></span></div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="d-flex" style="gap: 20px;align-items: center;">
                                <div><label class="custom-checkbox">
                                        <input type="checkbox">
                                        <span class="checkmark"></span>
                                    </label></div>
                                <div><span><strong>Exact</strong></span></div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="d-flex" style="gap: 20px;align-items: center;">
                                <div><label class="custom-checkbox">
                                        <input type="checkbox">
                                        <span class="checkmark"></span>
                                    </label></div>
                                <div><span><strong>Form Exact</strong></span></div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="d-flex" style="gap: 20px;align-items: center;">
                                <div><label class="custom-checkbox">
                                        <input type="checkbox">
                                        <span class="checkmark"></span>
                                    </label></div>
                                <div><span><strong>Summarise</strong></span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6" style="margin-bottom: 20px;">
                <div style="padding: 20px; background-color: white;">
                    <h3 style="margin-bottom: 25px; color: red;">Admin</h3>
                    <div class="row" style="margin-bottom: 20px;">
                        <div class="col-md-3">
                            <div class="d-flex" style="gap: 20px;align-items: center;">
                                <div><label class="custom-checkbox">
                                        <input type="checkbox">
                                        <span class="checkmark"></span>
                                    </label></div>
                                <div><span><strong>Clip</strong></span></div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="d-flex" style="gap: 20px;align-items: center;">
                                <div><label class="custom-checkbox">
                                        <input type="checkbox">
                                        <span class="checkmark"></span>
                                    </label></div>
                                <div><span><strong>Exact</strong></span></div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="d-flex" style="gap: 20px;align-items: center;">
                                <div><label class="custom-checkbox">
                                        <input type="checkbox">
                                        <span class="checkmark"></span>
                                    </label></div>
                                <div><span><strong>Form Exact</strong></span></div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="d-flex" style="gap: 20px;align-items: center;">
                                <div><label class="custom-checkbox">
                                        <input type="checkbox">
                                        <span class="checkmark"></span>
                                    </label></div>
                                <div><span><strong>Summarise</strong></span></div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-bottom: 20px;">
                        <div class="col-md-3">
                            <div class="d-flex" style="gap: 20px;align-items: center;">
                                <div><label class="custom-checkbox">
                                        <input type="checkbox">
                                        <span class="checkmark"></span>
                                    </label></div>
                                <div><span><strong>Clip</strong></span></div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="d-flex" style="gap: 20px;align-items: center;">
                                <div><label class="custom-checkbox">
                                        <input type="checkbox">
                                        <span class="checkmark"></span>
                                    </label></div>
                                <div><span><strong>Exact</strong></span></div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="d-flex" style="gap: 20px;align-items: center;">
                                <div><label class="custom-checkbox">
                                        <input type="checkbox">
                                        <span class="checkmark"></span>
                                    </label></div>
                                <div><span><strong>Form Exact</strong></span></div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="d-flex" style="gap: 20px;align-items: center;">
                                <div><label class="custom-checkbox">
                                        <input type="checkbox">
                                        <span class="checkmark"></span>
                                    </label></div>
                                <div><span><strong>Summarise</strong></span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6" style="margin-bottom: 20px;">
                <div style="padding: 20px; background-color: white;">
                    <h3 style="margin-bottom: 25px; color: red;">Admin</h3>
                    <div class="row" style="margin-bottom: 20px;">
                        <div class="col-md-3">
                            <div class="d-flex" style="gap: 20px;align-items: center;">
                                <div><label class="custom-checkbox">
                                        <input type="checkbox">
                                        <span class="checkmark"></span>
                                    </label></div>
                                <div><span><strong>Clip</strong></span></div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="d-flex" style="gap: 20px;align-items: center;">
                                <div><label class="custom-checkbox">
                                        <input type="checkbox">
                                        <span class="checkmark"></span>
                                    </label></div>
                                <div><span><strong>Exact</strong></span></div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="d-flex" style="gap: 20px;align-items: center;">
                                <div><label class="custom-checkbox">
                                        <input type="checkbox">
                                        <span class="checkmark"></span>
                                    </label></div>
                                <div><span><strong>Form Exact</strong></span></div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="d-flex" style="gap: 20px;align-items: center;">
                                <div><label class="custom-checkbox">
                                        <input type="checkbox">
                                        <span class="checkmark"></span>
                                    </label></div>
                                <div><span><strong>Summarise</strong></span></div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-bottom: 20px;">
                        <div class="col-md-3">
                            <div class="d-flex" style="gap: 20px;align-items: center;">
                                <div><label class="custom-checkbox">
                                        <input type="checkbox">
                                        <span class="checkmark"></span>
                                    </label></div>
                                <div><span><strong>Clip</strong></span></div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="d-flex" style="gap: 20px;align-items: center;">
                                <div><label class="custom-checkbox">
                                        <input type="checkbox">
                                        <span class="checkmark"></span>
                                    </label></div>
                                <div><span><strong>Exact</strong></span></div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="d-flex" style="gap: 20px;align-items: center;">
                                <div><label class="custom-checkbox">
                                        <input type="checkbox">
                                        <span class="checkmark"></span>
                                    </label></div>
                                <div><span><strong>Form Exact</strong></span></div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="d-flex" style="gap: 20px;align-items: center;">
                                <div><label class="custom-checkbox">
                                        <input type="checkbox">
                                        <span class="checkmark"></span>
                                    </label></div>
                                <div><span><strong>Summarise</strong></span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6" style="margin-bottom: 20px;">
                <div style="padding: 20px; background-color: white;">
                    <h3 style="margin-bottom: 25px;color: red;">Admin</h3>
                    <div class="row" style="margin-bottom: 20px;">
                        <div class="col-md-3">
                            <div class="d-flex" style="gap: 20px;align-items: center;">
                                <div><label class="custom-checkbox">
                                        <input type="checkbox">
                                        <span class="checkmark"></span>
                                    </label></div>
                                <div><span><strong>Clip</strong></span></div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="d-flex" style="gap: 20px;align-items: center;">
                                <div><label class="custom-checkbox">
                                        <input type="checkbox">
                                        <span class="checkmark"></span>
                                    </label></div>
                                <div><span><strong>Exact</strong></span></div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="d-flex" style="gap: 20px;align-items: center;">
                                <div><label class="custom-checkbox">
                                        <input type="checkbox">
                                        <span class="checkmark"></span>
                                    </label></div>
                                <div><span><strong>Form Exact</strong></span></div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="d-flex" style="gap: 20px;align-items: center;">
                                <div><label class="custom-checkbox">
                                        <input type="checkbox">
                                        <span class="checkmark"></span>
                                    </label></div>
                                <div><span><strong>Summarise</strong></span></div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-bottom: 20px;">
                        <div class="col-md-3">
                            <div class="d-flex" style="gap: 20px;align-items: center;">
                                <div><label class="custom-checkbox">
                                        <input type="checkbox">
                                        <span class="checkmark"></span>
                                    </label></div>
                                <div><span><strong>Clip</strong></span></div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="d-flex" style="gap: 20px;align-items: center;">
                                <div><label class="custom-checkbox">
                                        <input type="checkbox">
                                        <span class="checkmark"></span>
                                    </label></div>
                                <div><span><strong>Exact</strong></span></div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="d-flex" style="gap: 20px;align-items: center;">
                                <div><label class="custom-checkbox">
                                        <input type="checkbox">
                                        <span class="checkmark"></span>
                                    </label></div>
                                <div><span><strong>Form Exact</strong></span></div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="d-flex" style="gap: 20px;align-items: center;">
                                <div><label class="custom-checkbox">
                                        <input type="checkbox">
                                        <span class="checkmark"></span>
                                    </label></div>
                                <div><span><strong>Summarise</strong></span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="d-flex">
        <div style="background-color: white;padding: 35px; width: 26%; margin-right: 15px;">
            <ul class="nav nav-pills" id="myTab" role="tablist" style="margin-bottom: 30px;">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button"
                        role="tab" aria-controls="home" aria-selected="true">Home</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button"
                        role="tab" aria-controls="profile" aria-selected="false">Profile</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button"
                        role="tab" aria-controls="contact" aria-selected="false">Contact</button>
                </li>
            </ul>
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                    <div class="d-flex" style="align-items: center;margin-bottom: 22px;">
                        <div class="d-flex" style="align-items: center;margin-right: 128px;">
                            <div><img style="border-radius: 100%; height: 50px; width: 50px;margin-right: 20px;"
                                    src="../../assets/MicrosoftTeams-image.png"></div>
                            <div><strong style="font-size: 20px;">shashwat</strong></div>
                        </div>
                        <div class="d-flex" style="align-items: center;">
                            <div style="margin-right: 20px;"> <img src="../../assets/11490416_left_arroe_row_back_arrows_icon.svg"></div>
                            <div style="font-size: 20px;">3789</div>
                        </div>
                    </div>
                    <div class="d-flex" style="align-items: center;margin-bottom: 22px;">
                        <div class="d-flex" style="align-items: center;margin-right: 128px;">
                            <div><img style="border-radius: 100%; height: 50px; width: 50px;margin-right: 20px;"
                                    src="../../assets/MicrosoftTeams-image.png"></div>
                            <div><strong style="font-size: 20px;">shashwat</strong></div>
                        </div>
                        <div class="d-flex" style="align-items: center;">
                            <div style="margin-right: 20px;"> <img src="../../assets/11490416_left_arroe_row_back_arrows_icon.svg"></div>
                            <div style="font-size: 20px;">3789</div>
                        </div>
                    </div>
                    <div class="d-flex" style="align-items: center;margin-bottom: 22px;">
                        <div class="d-flex" style="align-items: center;margin-right: 128px;">
                            <div><img style="border-radius: 100%; height: 50px; width: 50px;margin-right: 20px;"
                                    src="../../assets/MicrosoftTeams-image.png"></div>
                            <div><strong style="font-size: 20px;">shashwat</strong></div>
                        </div>
                        <div class="d-flex" style="align-items: center;">
                            <div style="margin-right: 20px;"> <img src="../../assets/11490416_left_arroe_row_back_arrows_icon.svg"></div>
                            <div style="font-size: 20px;">3789</div>
                        </div>
                    </div>
                    <div class="d-flex" style="align-items: center;margin-bottom: 22px;">
                        <div class="d-flex" style="align-items: center;margin-right: 128px;">
                            <div><img style="border-radius: 100%; height: 50px; width: 50px;margin-right: 20px;"
                                    src="../../assets/MicrosoftTeams-image.png"></div>
                            <div><strong style="font-size: 20px;">shashwat</strong></div>
                        </div>
                        <div class="d-flex" style="align-items: center;">
                            <div style="margin-right: 20px;"> <img src="../../assets/11490416_left_arroe_row_back_arrows_icon.svg"></div>
                            <div style="font-size: 20px;">3789</div>
                        </div>
                    </div>
                  
                    
                </div>
            </div>
        </div>


        <div style="background-color:white;padding: 35px; width: 26%;">
            <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      Accordion Item #1
                    </button>
                  </h2>
                  <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                      Accordion Item #2
                    </button>
                  </h2>
                  <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                      Accordion Item #3
                    </button>
                  </h2>
                  <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                    </div>
                  </div>
                </div>
              </div>
        </div>
    </div>

   
</div>