<div style="background-color: #f7f7f7; padding: 20px;">
    <div class="row">
        <div class="col-md-3" style="background-color: white;margin-right: 30px;">
            <div class="row" style="padding:40px;">
                <div class="col-md-3" style="margin-bottom: 10px;">
                    <div style="text-align: center;"><img style="border-radius: 100%; height: 75px; width: 75px;"
                            src="../../assets/MicrosoftTeams-image.png"></div>
                </div>
                <div class="col-md-9">
                    <div>
                        Megha Bisht
                    </div>
                    <div>
                        UI-UX Developer
                    </div>
                </div>
                <div class="col-md-3" style="display: flex;">
                    <div class="dot" style="margin: auto; align-items: center;"></div>
                </div>
                <div class="col-md-6 mb-2">
                    <div class="">Shashwat Gupta</div>
                    <div class="truncate-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim, velit.
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="">14 may</div>
                </div>
                <div class="col-md-3" style="display: flex;">
                    <div class="dot" style="margin: auto; align-items: center;"></div>
                </div>
                <div class="col-md-6 mb-2">
                    <div class="">Shashwat Gupta</div>
                    <div class="truncate-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim, velit.
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="">14 may</div>
                </div>
                <div class="col-md-3" style="display: flex;">
                    <div class="dot" style="margin: auto; align-items: center;"></div>
                </div>
                <div class="col-md-6 mb-2">
                    <div class="">Shashwat Gupta</div>
                    <div class="truncate-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim, velit.
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="">14 may</div>
                </div>
            </div>
        </div>
        <div class="col-md-3" style="background-color: white;margin-right: 30px;">
            <div class="row" style="padding:40px;">
                <div class="col-md-3" style="margin-bottom: 10px;">
                    <div style="text-align: center;"><img style="border-radius: 100%; height: 75px; width: 75px;"
                            src="../../assets/MicrosoftTeams-image.png"></div>
                </div>
                <div class="col-md-9">
                    <div>
                        Megha Bisht
                    </div>
                    <div>
                        UI-UX Developer
                    </div>
                </div>
                <div class="col-md-3" style="display: flex;">
                    <div class="dot" style="margin: auto; align-items: center;"></div>
                </div>
                <div class="col-md-6 mb-2">
                    <div class="">Shashwat Gupta</div>
                    <div class="truncate-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim, velit.
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="">14 may</div>
                </div>
                <div class="col-md-3" style="display: flex;">
                    <div class="dot" style="margin: auto; align-items: center;"></div>
                </div>
                <div class="col-md-6 mb-2">
                    <div class="">Shashwat Gupta</div>
                    <div class="truncate-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim, velit.
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="">14 may</div>
                </div>
                <div class="col-md-3" style="display: flex;">
                    <div class="dot" style="margin: auto; align-items: center;"></div>
                </div>
                <div class="col-md-6 mb-2">
                    <div class="">Shashwat Gupta</div>
                    <div class="truncate-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim, velit.
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="">14 may</div>
                </div>
            </div>
        </div>
        <div class="col-md-3" style="background-color: white;margin-right: 30px;">
            <div class="row" style="padding:40px;">
                <div class="col-md-3" style="margin-bottom: 10px;">
                    <div style="text-align: center;"><img style="border-radius: 100%; height: 75px; width: 75px;"
                            src="../../assets/MicrosoftTeams-image.png"></div>
                </div>
                <div class="col-md-9">
                    <div>
                        Megha Bisht
                    </div>
                    <div>
                        UI-UX Developer
                    </div>
                </div>
                <div class="col-md-3" style="display: flex;">
                    <div class="dot" style="margin: auto; align-items: center;"></div>
                </div>
                <div class="col-md-6 mb-2">
                    <div class="">Shashwat Gupta</div>
                    <div class="truncate-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim, velit.
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="">14 may</div>
                </div>
                <div class="col-md-3" style="display: flex;">
                    <div class="dot" style="margin: auto; align-items: center;"></div>
                </div>
                <div class="col-md-6 mb-2">
                    <div class="">Shashwat Gupta</div>
                    <div class="truncate-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim, velit.
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="">14 may</div>
                </div>
                <div class="col-md-3" style="display: flex;">
                    <div class="dot" style="margin: auto; align-items: center;"></div>
                </div>
                <div class="col-md-6 mb-2">
                    <div class="">Shashwat Gupta</div>
                    <div class="truncate-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim, velit.
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="">14 may</div>
                </div>
            </div>
        </div>
    </div>
</div>


<div style="background-color: #f7f7f7;padding: 20px;">
    <div class="row">
        <div class="col-md-2  mx-2" style="background-color: white; padding: 20px;">
            <div class="row" style="align-items: center;">
                <div class="col-md-8">
                    <div class="mb-2"><strong>3210</strong></div>
                    <div>Happy Customer</div>
                </div>
                <div class="col-md-4">
                    <div style="background-color: blue; border-radius: 20%; padding: 14px; text-align: center;">
                        <img style="padding: 16px;" src="../../assets/8547071_stripe_s_icon.svg">
                    </div>
                </div>

            </div>
        </div>
        <div class="col-md-2  mx-2" style="background-color: white; padding: 20px;">
            <div class="row" style="align-items: center;">
                <div class="col-md-8">
                    <div class="mb-2"><strong>3210</strong></div>
                    <div>Happy Customer</div>

                </div>
                <div class="col-md-4">
                    <div style="background-color: blue; border-radius: 20%; padding: 14px; text-align: center;">
                        <img style="padding: 16px;" src="../../assets/8547071_stripe_s_icon.svg">
                    </div>
                </div>

            </div>
        </div>
        <div class="col-md-2  mx-2" style="background-color: white; padding: 20px;">
            <div class="row" style="align-items: center;">
                <div class="col-md-8">
                    <div class="mb-2"><strong>3210</strong></div>
                    <div>Happy Customer</div>

                </div>
                <div class="col-md-4">
                    <div style="background-color: blue; border-radius: 20%; padding: 14px; text-align: center;">
                        <img style="padding: 16px;" src="../../assets/8547071_stripe_s_icon.svg">
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


<div style="padding: 40px;">
    <div class="row">
        <div class="col-md-12">
            <div style="padding: 20px; font-size: 20px;"><strong>Recent Users</strong></div>
        </div>
    </div>
    <hr>
    <div class="marginb-4">
        <div class="row">
        <div class="col-md-2 d-flex" style="justify-content: center; align-items: center;">
            <img style="border-radius: 100%; height: 75px; width: 75px; " 
            src="../../assets/MicrosoftTeams-image.png">
        </div>
        <div class="col-md-4 ">
            <div class="mb-2"><strong>Christenin sharma</strong></div>
            <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, illum!</div>
        </div>
        <div class="col-md-3 d-flex" style="align-items: center;">
            <div class="dot" style="margin-right: 25px;"></div>
            <div>11 May 2023 10:35</div>
        </div>
        <div class="col-md-3 d-flex" style="justify-content: center; align-items: center;">
            <button type="button" class="btn btn-danger mx-2">Reject</button>
            <button type="button" class="btn btn-primary">Approve</button>
        </div>
    </div>
    </div>
 
</div>

