<div style="padding: 20px;">
    <div class="row">
        <div class="col-md-3" style="background-color: white;margin-right: 30px;">
            <div class="row" style="padding:40px;">
                <div class="col-md-3" style="margin-bottom: 10px;">
                    <div style="text-align: center;"><img style="border-radius: 100%; height: 75px; width: 75px;"
                            src="../../assets/MicrosoftTeams-image.png"></div>
                </div>
                <div class="col-md-9">
                    <div>
                        Megha Bisht
                    </div>
                    <div>
                        UI-UX Developer
                    </div>
                </div>
                <div class="col-md-3" style="display: flex;">
                    <div class="dot" style="margin: auto; align-items: center;"></div>
                </div>
                <div class="col-md-6 mb-2">
                    <div class="">Shashwat Gupta</div>
                    <div class="truncate-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim, velit.
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="">14 may</div>
                </div>
                <div class="col-md-3" style="display: flex;">
                    <div class="dot" style="margin: auto; align-items: center;"></div>
                </div>
                <div class="col-md-6 mb-2">
                    <div class="">Shashwat Gupta</div>
                    <div class="truncate-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim, velit.
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="">14 may</div>
                </div>
                <div class="col-md-3" style="display: flex;">
                    <div class="dot" style="margin: auto; align-items: center;"></div>
                </div>
                <div class="col-md-6 mb-2">
                    <div class="">Shashwat Gupta</div>
                    <div class="truncate-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim, velit.
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="">14 may</div>
                </div>
            </div>
        </div>
        <div class="col-md-3" style="background-color: white;margin-right: 30px;">
            <div class="row" style="padding:40px;">
                <div class="col-md-3" style="margin-bottom: 10px;">
                    <div style="text-align: center;"><img style="border-radius: 100%; height: 75px; width: 75px;"
                            src="../../assets/MicrosoftTeams-image.png"></div>
                </div>
                <div class="col-md-9">
                    <div>
                        Megha Bisht
                    </div>
                    <div>
                        UI-UX Developer
                    </div>
                </div>
                <div class="col-md-3" style="display: flex;">
                    <div class="dot" style="margin: auto; align-items: center;"></div>
                </div>
                <div class="col-md-6 mb-2">
                    <div class="">Shashwat Gupta</div>
                    <div class="truncate-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim, velit.
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="">14 may</div>
                </div>
                <div class="col-md-3" style="display: flex;">
                    <div class="dot" style="margin: auto; align-items: center;"></div>
                </div>
                <div class="col-md-6 mb-2">
                    <div class="">Shashwat Gupta</div>
                    <div class="truncate-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim, velit.
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="">14 may</div>
                </div>
                <div class="col-md-3" style="display: flex;">
                    <div class="dot" style="margin: auto; align-items: center;"></div>
                </div>
                <div class="col-md-6 mb-2">
                    <div class="">Shashwat Gupta</div>
                    <div class="truncate-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim, velit.
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="">14 may</div>
                </div>
            </div>
        </div>
        <div class="col-md-3" style="background-color: white;margin-right: 30px;">
            <div class="row" style="padding:40px;">
                <div class="col-md-3" style="margin-bottom: 10px;">
                    <div style="text-align: center;"><img style="border-radius: 100%; height: 75px; width: 75px;"
                            src="../../assets/MicrosoftTeams-image.png"></div>
                </div>
                <div class="col-md-9">
                    <div>
                        Megha Bisht
                    </div>
                    <div>
                        UI-UX Developer
                    </div>
                </div>
                <div class="col-md-3" style="display: flex;">
                    <div class="dot" style="margin: auto; align-items: center;"></div>
                </div>
                <div class="col-md-6 mb-2">
                    <div class="">Shashwat Gupta</div>
                    <div class="truncate-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim, velit.
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="">14 may</div>
                </div>
                <div class="col-md-3" style="display: flex;">
                    <div class="dot" style="margin: auto; align-items: center;"></div>
                </div>
                <div class="col-md-6 mb-2">
                    <div class="">Shashwat Gupta</div>
                    <div class="truncate-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim, velit.
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="">14 may</div>
                </div>
                <div class="col-md-3" style="display: flex;">
                    <div class="dot" style="margin: auto; align-items: center;"></div>
                </div>
                <div class="col-md-6 mb-2">
                    <div class="">Shashwat Gupta</div>
                    <div class="truncate-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim, velit.
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="">14 may</div>
                </div>
            </div>
        </div>
    </div>
</div>


<div style="padding: 20px;">
    <div class="row">
        <div class="col-md-2  mx-2" style="background-color: white; padding: 20px;">
            <div class="row" style="align-items: center;">
                <div class="col-md-8">
                    <div class="mb-2"><strong>3210</strong></div>
                    <div>Happy Customer</div>
                </div>
                <div class="col-md-4">
                    <div style="background-color: blue; border-radius: 20%; padding: 14px; text-align: center;">
                        <img style="padding: 16px;" src="../../assets/8547071_stripe_s_icon.svg">
                    </div>
                </div>

            </div>
        </div>
        <div class="col-md-2  mx-2" style="background-color: white; padding: 20px;">
            <div class="row" style="align-items: center;">
                <div class="col-md-8">
                    <div class="mb-2"><strong>3210</strong></div>
                    <div>Happy Customer</div>

                </div>
                <div class="col-md-4">
                    <div style="background-color: blue; border-radius: 20%; padding: 14px; text-align: center;">
                        <img style="padding: 16px;" src="../../assets/8547071_stripe_s_icon.svg">
                    </div>
                </div>

            </div>
        </div>
        <div class="col-md-2  mx-2" style="background-color: white; padding: 20px;">
            <div class="row" style="align-items: center;">
                <div class="col-md-8">
                    <div class="mb-2"><strong>3210</strong></div>
                    <div>Happy Customer</div>

                </div>
                <div class="col-md-4">
                    <div style="background-color: blue; border-radius: 20%; padding: 14px; text-align: center;">
                        <img style="padding: 16px;" src="../../assets/8547071_stripe_s_icon.svg">
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


<div style="padding: 40px; ">
    <div class="row">
        <div class="col-md-12">
            <div style="padding: 20px; font-size: 20px;"><strong>Recent Users</strong></div>
        </div>
    </div>
    <hr>
    <div class="marginb-4">
        <div class="row">
            <div class="col-md-2 d-flex" style="justify-content: center; align-items: center;">
                <img style="border-radius: 100%; height: 75px; width: 75px; "
                    src="../../assets/MicrosoftTeams-image.png">
            </div>
            <div class="col-md-4 ">
                <div class="mb-2"><strong>Christenin sharma</strong></div>
                <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, illum!</div>
            </div>
            <div class="col-md-3 d-flex" style="align-items: center;">
                <div class="dot" style="margin-right: 25px;"></div>
                <div>11 May 2023 10:35</div>
            </div>
            <div class="col-md-3 d-flex" style="justify-content: center; align-items: center;">
                <button type="button" class="btn btn-danger mx-2">Reject</button>
                <button type="button" class="btn btn-primary">Approve</button>
            </div>
        </div>
    </div>

</div>

<div style="padding: 40px;background-color: white; width: 80%; margin: auto;">
    <div class="row">
        <div class="col-md-12">
            <div style="padding: 20px; font-size: 20px;"><strong>Recent Users</strong></div>
        </div>
    </div>
    <hr>
    <div class="table-responsive">
        <table style="background-color: white;" class="table table-bordered table-striped">
            <tbody>
                <tr class="my-2">
                    <td class="d-flex" style="justify-content: center;"> <img
                            style="border-radius: 100%; height: 75px; width: 75px; "
                            src="../../assets/MicrosoftTeams-image.png"></td>
                    <td class="wide" style="vertical-align: middle; text-align: center;">
                        <div>
                            shashwat
                        </div>
                        <div>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat, inventore.
                        </div>
                    </td>
                    <td class="wide" style="vertical-align: middle;">
                        <div class="d-flex" style="gap:30px; justify-content: center;">
                            <div class="dot">
                            </div>
                            <div>
                                11 may 12:56
                            </div>
                        </div>

                    </td>
                    <td class="wide" style="vertical-align: middle; text-align: center;">
                        <div>
                            <button type="button" class="btn btn-danger mx-2">Reject</button>
                            <button type="button" class="btn btn-primary">Approve</button>
                        </div>
                    </td>
                </tr>
                <tr class="my-2">
                    <td class="d-flex" style="justify-content: center;"> <img
                            style="border-radius: 100%; height: 75px; width: 75px; "
                            src="../../assets/MicrosoftTeams-image.png"></td>
                    <td class="wide" style="vertical-align: middle; text-align: center;">
                        <div>
                            shashwat
                        </div>
                        <div>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat, inventore.
                        </div>
                    </td>
                    <td class="wide" style="vertical-align: middle;">
                        <div class="d-flex" style="gap:30px; justify-content: center;">
                            <div class="dot">
                            </div>
                            <div>
                                11 may 12:56
                            </div>
                        </div>

                    </td>
                    <td class="wide" style="vertical-align: middle; text-align: center;">
                        <div>
                            <button type="button" class="btn btn-danger mx-2">Reject</button>
                            <button type="button" class="btn btn-primary">Approve</button>
                        </div>
                    </td>
                </tr>
                <tr class="my-2">
                    <td class="d-flex" style="justify-content: center;"> <img
                            style="border-radius: 100%; height: 75px; width: 75px; "
                            src="../../assets/MicrosoftTeams-image.png"></td>
                    <td class="wide" style="vertical-align: middle; text-align: center;">
                        <div>
                            shashwat
                        </div>
                        <div>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat, inventore.
                        </div>
                    </td>
                    <td class="wide" style="vertical-align: middle;">
                        <div class="d-flex" style="gap:30px; justify-content: center;">
                            <div class="dot">
                            </div>
                            <div>
                                11 may 12:56
                            </div>
                        </div>

                    </td>
                    <td class="wide" style="vertical-align: middle; text-align: center;">
                        <div>
                            <button type="button" class="btn btn-danger mx-2">Reject</button>
                            <button type="button" class="btn btn-primary">Approve</button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<hr>

<div style="background-color: white; margin: auto;width: 80%;padding: 20px;">
    <div class="row">
        <div class="col-md-12">
            <div style="padding: 20px; font-size: 20px;"><strong>Tooltip</strong></div>
        </div>
    </div>
    <hr style="margin-bottom: 20px;">
    <div class="row my-2">
        <div class="col-md-4">
            <label class="my-2"><strong>First Name</strong></label>
            <input class="w-100 form-control" style="padding: 15px;font-weight: 700;" type="text">
        </div>
        <div class="col-md-4">
            <label class="my-2"><strong>Last Name</strong></label>
            <input class="w-100 form-control" style="padding: 15px;font-weight: 700;" type="text">
        </div>
        <div class="col-md-4">
            <label class="my-2"><strong>Username</strong></label>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">$#64</span>
                <input type="text" class="form-control" aria-describedby="basic-addon1"
                    style="padding: 15px;font-weight: 700;">
            </div>
        </div>
    </div>
    <div class="row" style="margin-bottom: 20px;">
        <div class="col-md-6">
            <label class="my-2"><strong>City</strong></label>
            <input class="w-100 form-control" style="padding: 15px;font-weight: 700;" type="text">
        </div>
        <div class="col-md-3">
            <label class="my-2"><strong>State</strong></label>
            <select class="w-100 form-control" style="padding: 15px;font-weight: 700;"></select>
        </div>
        <div class="col-md-3">
            <label class="my-2"><strong>Zip</strong></label>
            <input class="w-100 form-control" style="padding: 15px;font-weight: 700;" type="text">
        </div>
    </div>
    <button type="button" class="btn btn-outline-primary">Primary</button>
</div>

<hr style="margin-bottom: 40px;">
<div>
    <div class="row" style="padding: 40px;">
        <div> <strong>Roles & Permission</strong></div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-3">1</div>
                <div class="col-md-3">1</div>
                <div class="col-md-3">1</div>
                <div class="col-md-3">1</div>
            </div>
        </div>
        <div class="col-md-6"></div>
    </div>
</div>