.dot {
    height: 20px;
    width: 20px;
    background-color: green;
    border-radius: 50%;
}

.truncate-text {
    max-height: 1.2em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


body {
    background-color: black;
}

.marginb-4 {
    margin-bottom: 37px;
}

.wide {
    width: 120rem;
}

.narrow {
    width: 45rem;
}

td {
    padding: 25px;
}

.w-100 {
    width: 100% !important;
}


