<div class="dis-flex">
    <table>
        <tr>
            <th>1</th>
            <th>2</th>
            <th>3</th>
            <th>4</th>
            <th>5</th>
        </tr>
        <tr>
            <td style="background-color: red;"></td>
            <td style="background-color: blue;" colspan="2"></td>
            <td style="background-color: aquamarine;"></td>
            <td style="background-color: yellow;"></td>
        </tr>
        <tr>
            <td colspan="2" style="background-color: green;"></td>
            <td style="background-color:orange;"></td>
            <td colspan="2" rowspan="2" style="background-color:pink;"></td>
        </tr>
        <tr>
            <td style="background-color: rgb(75, 3, 75);"></td>
            <td colspan="2" style="background-color:blueviolet;"></td>
        </tr>
        <tr>
            <td rowspan="2" style="background-color: bisque"></td>
            <td style="background-color: aquamarine"></td>
            <td style="background-color: red"></td>
            <td colspan="2" style="background-color: green"></td>
        </tr>
        <tr>
            <td style="background-color: palevioletred;"></td>
            <td colspan="3" style="background-color: hotpink;"></td>
        </tr>

    </table>
</div>
