<div class="d-flex flex-prop header" style="background-color: white;">
    <div><strong>Direct Tax Compliance</strong></div>
    <div class="d-flex">
        <img class="icon" src="../../assets/2849830_multimedia_options_setting_settings_gear_icon.png">
        <img class="icon" src="../../assets/2849830_multimedia_options_setting_settings_gear_icon.png">
        <div>
            <div class="d-flex icon-name" style="justify-content: center;
         align-items: center;">S</div>
        </div>
    </div>
</div>