<div class="d-flex flex-prop header" style="background-color: white;">
    <div><strong>Direct Tax Compliance</strong></div>
    <div class="d-flex">
        <img class="icon" src="../../assets/2849830_multimedia_options_setting_settings_gear_icon.png">
        <img class="icon" src="../../assets/2849830_multimedia_options_setting_settings_gear_icon.png">
        <div>
            <div class="d-flex icon-name" style="justify-content: center;
         align-items: center;">S</div>
        </div>
    </div>
</div>

<div class="d-flex">
    <div class="side-panel">
        <div class="p-10">
            <div class="mb-10"><img src="../../assets/8666632_phone_icon.svg"></div>
            <div class="mb-10">shas</div>
        </div>
        <div class="p-10">
            <div class="mb-10"><img src="../../assets/8666632_phone_icon.svg"></div>
            <div class="mb-10">shas</div>
        </div>
        <div class="p-10">
            <div class="mb-10"><img src="../../assets/8666632_phone_icon.svg"></div>
            <div class="mb-10">shas</div>
        </div>
        <div class="p-10">
            <div class="mb-10"><img src="../../assets/8666632_phone_icon.svg"></div>
            <div class="mb-10">shas</div>
        </div>
        <div class="p-10">
            <div class="mb-10"><img src="../../assets/8666632_phone_icon.svg"></div>
            <div class="mb-10">shas</div>
        </div>


    </div>

    <div style="width: 95%;">
        <div style="padding: 40px;">
            <div class="row" style="margin-bottom: 25px;">
                <div class="col-md-4">
                    <label for="panDropdown" class="mb-5self"><strong>Select PAN</strong></label>
                    <select id="myDropdown form-control" name="myDropdown" style="width: 100%;padding: 8px;">
                        <option value="option1">Option 1</option>
                        <option value="option2">Option 2</option>
                        <option value="option3">Option 3</option>
                        <option value="option4">Option 4</option>
                    </select>
                </div>
                <div class="col-md-4">
                    <label for="panDropdown" class="mb-5self"><strong>Select Assesement Year</strong></label>
                    <select id="myDropdown form-control" name="myDropdown" style="width: 100%;padding: 8px;">
                        <option value="option1">Option 1</option>
                        <option value="option2">Option 2</option>
                        <option value="option3">Option 3</option>
                        <option value="option4">Option 4</option>
                    </select>
                </div>
            </div>
            <div style="background-color: white;padding: 20px;">
                <div class="d-flex mb-10" style="align-items: center;">
                    <div><strong style="font-size: 22px;">Quick Stats</strong></div>
                    <div class="margin-r"><img class="setting-icon"
                            src="../../assets/2849830_multimedia_options_setting_settings_gear_icon.png"></div>
                    <div class="form-check form-switch">
                        <input class="form-check-input toggle-icon" type="checkbox" role="switch"
                            id="flexSwitchCheckDefault">
                    </div>
                </div>
                <div>
                        <div class="row" style="margin-bottom: 30px;">
                            <div class="col-md-3">
                                <div style="background-color:#f4dfcc;margin-bottom: 10px;">
                                    <div class="d-flex"
                                        style="padding: 10px; align-items: center; justify-content: space-between;">
                                        <div>
                                            <div class="card-title">Not Started</div>
                                            <div style="color: #df8639;">0/1</div>
                                        </div>
                                        <div><img style="height: 34px;"
                                                src="../../assets/2849830_multimedia_options_setting_settings_gear_icon.png">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div style="background-color:#f4dfcc;margin-bottom: 10px;">
                                    <div class="d-flex"
                                        style="padding: 10px; align-items: center; justify-content: space-between;">
                                        <div>
                                            <div class="card-title">Not Started</div>
                                            <div style="color: #df8639;">0/1</div>
                                        </div>
                                        <div><img style="height: 34px;"
                                                src="../../assets/2849830_multimedia_options_setting_settings_gear_icon.png">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div style="background-color:#f4dfcc;margin-bottom: 10px;">
                                    <div class="d-flex"
                                        style="padding: 10px; align-items: center; justify-content: space-between;">
                                        <div>
                                            <div class="card-title">Not Started</div>
                                            <div style="color: #df8639;">0/1</div>
                                        </div>
                                        <div><img style="height: 34px;"
                                                src="../../assets/2849830_multimedia_options_setting_settings_gear_icon.png">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div style="background-color:#f4dfcc;margin-bottom: 10px;">
                                    <div class="d-flex"
                                        style="padding: 10px; align-items: center; justify-content: space-between;">
                                        <div>
                                            <div class="card-title">Not Started</div>
                                            <div style="color: #df8639;">0/1</div>
                                        </div>
                                        <div><img style="height: 34px;"
                                                src="../../assets/2849830_multimedia_options_setting_settings_gear_icon.png">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div style="background-color:#f4dfcc;margin-bottom: 10px;">
                                    <div class="d-flex"
                                        style="padding: 10px; align-items: center; justify-content: space-between;">
                                        <div>
                                            <div class="card-title">Not Started</div>
                                            <div style="color: #df8639;">0/1</div>
                                        </div>
                                        <div><img style="height: 34px;"
                                                src="../../assets/2849830_multimedia_options_setting_settings_gear_icon.png">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div style="background-color:#f4dfcc;margin-bottom: 10px;">
                                    <div class="d-flex"
                                        style="padding: 10px; align-items: center; justify-content: space-between;">
                                        <div>
                                            <div class="card-title">Not Started</div>
                                            <div style="color: #df8639;">0/1</div>
                                        </div>
                                        <div><img style="height: 34px;"
                                                src="../../assets/2849830_multimedia_options_setting_settings_gear_icon.png">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div style="background-color:#f4dfcc;margin-bottom: 10px;">
                                    <div class="d-flex"
                                        style="padding: 10px; align-items: center; justify-content: space-between;">
                                        <div>
                                            <div class="card-title">Not Started</div>
                                            <div style="color: #df8639;">0/1</div>
                                        </div>
                                        <div><img style="height: 34px;"
                                                src="../../assets/2849830_multimedia_options_setting_settings_gear_icon.png">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div style="background-color:#f4dfcc;margin-bottom: 10px;">
                                    <div class="d-flex"
                                        style="padding: 10px; align-items: center; justify-content: space-between;">
                                        <div>
                                            <div class="card-title">Not Started</div>
                                            <div style="color: #df8639;">0/1</div>
                                        </div>
                                        <div><img style="height: 34px;"
                                                src="../../assets/2849830_multimedia_options_setting_settings_gear_icon.png">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                </div>
                <div style="font-weight: 700;font-size: 18px; margin-bottom: 20px;"><strong>Company List</strong></div>

              <div class="row">
                <div class="col-md-3 ">
                    <div class="bx-shadow">
                        <div style="background-color:#f4dfcc;padding: 15px; justify-content: space-between;align-items: center;" class="d-flex ">
                            <div style="font-weight: 700;">
                                Adani_001(CTLPG1489H)
                            </div>
                            <div><img style="width: 32px;" src="../../assets/2849830_multimedia_options_setting_settings_gear_icon.png"></div>
                        </div>
                        <div class="d-flex" style="justify-content: space-between;padding: 10px 15px;">
                            <div>Not Started</div>
                            <div>0/66</div>
                        </div>
                        <div class="d-flex" style="justify-content: space-between;padding:10px 15px;">
                            <div>Not Started</div>
                            <div>0/66</div>
                        </div>
                        <div class="d-flex" style="justify-content: space-between;padding:10px 15px;">
                            <div>Not Started</div>
                            <div>0/66</div>
                        </div>
                        <div class="d-flex" style="justify-content: space-between;padding:10px 15px;">
                            <div>Not Started</div>
                            <div>0/66</div>
                        </div>
                    </div>
                
                    
                </div>
              </div>
            </div>



        </div>
    </div>
</div>