<!-- <div class="container">
    <div class="flex">
        <div>
            <img class="img" src="../../assets/MicrosoftTeams-image.png">
        </div>
        <div><span class="mb-4">John Doe</span>
            <div>UX Designer</div>
        </div>

    </div>
    <div class="row">
        <div class="col-md-2">Shashwat gupta</div>
        <div class="col-md-7">Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi consequuntur
            voluptatibus deserunt! Quis blanditiis aspernatur quas maiores obcaecati, molestiae animi. Fugiat sint
            officiis, corporis perspiciatis repellendus ipsa inventore veritatis illum quod distinctio, accusantium
            molestiae?</div>
        <div class="col-md-3">14 May</div>

    </div>
</div> -->

<div style="background-color: #f7f7f7;">
    <div class="row">
        <div class="col-md-4">
            <div style="background-color:white">
                <div class="d-flex gap ">
                    <div>
                        <img style="border-radius: 50%; height: 100px; width: 100px;"
                            src="../../assets/MicrosoftTeams-image.png">
                    </div>
                    <div>
                        <div class="mb-10">Joe Doe</div>
                        <div style="display: block;">UX Designer</div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2 dot"></div>
                    <div class="col-md-6">
                        <div>Shashwat Gupta</div>
                        <div>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nisi, fugit.</div>
                    </div>
                    <div class="col-md-4">14 May</div>
                </div>
                <div class="row">
                    <div class="col-md-2 dot"></div>
                    <div class="col-md-6">
                        <div>Shashwat Gupta</div>
                        <div>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nisi, fugit.</div>
                    </div>
                    <div class="col-md-4">14 May</div>
                </div>
                <div class="row">
                    <div class="col-md-2 dot"></div>
                    <div class="col-md-6">
                        <div>Shashwat Gupta</div>
                        <div>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nisi, fugit.</div>
                    </div>
                    <div class="col-md-4">14 May</div>
                </div>
            </div>


        </div>


    </div>

</div>