<!-- <div class="container">
    <div class="flex">
        <div>
            <img class="img" src="../../assets/MicrosoftTeams-image.png">
        </div>
        <div><span class="mb-4">John Doe</span>
            <div>UX Designer</div>
        </div>

    </div>
    <div class="row">
        <div class="col-md-2">Shashwat gupta</div>
        <div class="col-md-7">Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi consequuntur
            voluptatibus deserunt! Quis blanditiis aspernatur quas maiores obcaecati, molestiae animi. Fugiat sint
            officiis, corporis perspiciatis repellendus ipsa inventore veritatis illum quod distinctio, accusantium
            molestiae?</div>
        <div class="col-md-3">14 May</div>

    </div>
</div> -->

<div style="background-color: #f7f7f7; padding: 20px;">
    <div class="row">
        <div class="col-md-3">
            <div style="background-color:white; padding: 25px;">
                <div class="row">
                    <div class="col-auto">
                        <img style="border-radius: 100%; height: 75px; width: 75px;"
                            src="../../assets/MicrosoftTeams-image.png">
                    </div>
                    <div class="col" style="padding-left: 50px;">
                        <div class="mb-10">Joe Doe</div>
                        <div>UX Designer</div>
                    </div>
                </div>

                <div class="row align-items-center">
                    <div class="col-md-2">
                        <div class="dot"></div>
                    </div>
                    <div class="col-md-6">
                        <div>Shashwat Gupta</div>
                        <div class="truncate-text mb-2">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nisi,
                            fugit.</div>
                    </div>
                    <div class="col-md-4 text-right">14 May</div>
                </div>
                <div class="row align-items-center">
                    <div class="col-md-2">
                        <div class="dot"></div>
                    </div>
                    <div class="col-md-6">
                        <div>Shashwat Gupta</div>
                        <div class="truncate-text mb-2">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nisi,
                            fugit.</div>
                    </div>
                    <div class="col-md-4 text-right">15 May</div>
                </div>
                <div class="row align-items-center">
                    <div class="col-md-2">
                        <div class="dot"></div>
                    </div>
                    <div class="col-md-6">
                        <div>Shashwat Gupta</div>
                        <div class="truncate-text mb-2">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nisi,
                            fugit.</div>
                    </div>
                    <div class="col-md-4 text-right">14 May</div>
                </div>
            </div>
        </div>
    </div>
</div>

